<!-- extends main structure page -->
{% extends "base/main_template_web.html" %}

<!-- set title for page -->
{% block title %}Home Page{% endblock %}

<!-- set content for page -->
{% block content %}
<div class="album py-5 bg-body-transparent">
    <div>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for item in data %}

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="position-relative">
                            <svg class="bi bi-bookmark position-absolute top-0 start- pt-2"
                                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" width="32px"
                                 height="32px">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                            <img class="rounded" src="static/image_ad/car_image/{{ item[0] }}.jpg" width="100%"
                                 height="100%">
                        </div>
                        <text class="text-md-center font-weight-bold h3 pt-2" x="50%" y="50%" fill="#eceeef" dy=".3em">
                            {{ item[0] }}
                        </text>
                        <div class="card-body">
                            <p class="card-text text-md-left">Gear box: {{ item[4] }}<br>Seats number: {{ item[5] }}<br>Color: {{ item[2] }}<br>Body type: {{ item[3] }}<br>{{ item[6] }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Podgląd</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Wynajmij</button>
                                </div>
                                <small class="text-body-secondary h4 font-weight-bold">200 zl ~ day</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
