{% block scripts %}
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.bundle.js.map') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.bundle.min.js.map') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.esm.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.esm.js.map') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.esm.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.esm.min.js.map') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.js.map') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bootstrap/bootstrap.min.js.map') }}"></script>
{% endblock %}