<header class=" mb-3 border-bottom sticky-top bg-white rounded-bottom">
    <div class="pr-5">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div>
                <a class=" d-inline-flex align-items-center mt-2" style="left: 0px;">
                    <img src="{{ url_for('static', filename='page_element/image/logo.png') }}" class="bi me-2"
                         width="200"
                         height="100">
                </a>
            </div>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="px-2 btn btn-outline-secondary d-inline-flex align-items-center mt-1"
                       style="margin-left: 100px">About us</a></li>
                <li><a href="/contact" class="px-2 btn btn-outline-secondary d-inline-flex align-items-center mt-1">Contact</a>
                </li>
                <li>
                    <button class="btn btn-outline-secondary dropdown-toggle mt-1 d-block link-body-emphasis"
                            data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 100px;">Sort by
                    </button>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">Featured</a></li>
                        <li><a class="dropdown-item" href="#">Price: High to Low</a></li>
                        <li><a class="dropdown-item" href="#">Price: Low to High</a></li>
                        <li><a class="dropdown-item" href="#">Best Sellers</a></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn-outline-secondary dropdown-toggle mt-1 d-block link-body-emphasis"
                            data-bs-toggle="dropdown" aria-expanded="false">Filters
                    </button>
                    <ul class="dropdown-menu text-small">
                        <li>
                            <div class="dropdown-item d-print-block">Brand</div>
                            <div></div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <div class="dropdown-item">Body type</div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <div class="dropdown-item">Gearbox</div>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex w-50 p-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
            <div class="dropdown text-end" style="margin-right: 25px">
                <a class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="/static/page_element/image/person-circle.svg" width="32" height="32"
                         class="rounded-circle">
                    <img src="/static/page_element/image/caret-down.svg" width="15" height="15">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a href="/login" class="dropdown-item" href="#">Sign In</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
